{{extend "./../layout/layout_b.html"}}

{{block "style"}}
<link rel="stylesheet" href="./../main/css/users.css">
<link rel="stylesheet" href="./../main/css/forgetpwd.css">
{{/block}}

{{block "content"}}
<div class="users forgetpwd">
    <div class="layui-container">
        <div class="users-con">
            <div class="users-title">
                <h1>忘记密码</h1>
            </div>
            <div class="user-form">
                <form class="layui-form" action="" lay-filter="forgetpwdText">
                    <div class="layui-form-item">
                        <div class="layui-form-item">
                            <div class="users-email">
                                <input type="text" name="email" lay-verify="email" autocomplete="off"
                                    placeholder="请输入注册邮箱" class="layui-input fl">
                                <button type="button" class="send-email layui-btn fr" id="sendCode">发送验证码</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="vercode" lay-verify="vercode" autocomplete="off"
                                placeholder="请输入验证码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline users-submit">
                            <button type="button" class="layui-btn layui-btn-warm layui-btn-fluid" lay-submit=""
                                lay-filter="forgetpwdBtn" id="forgetpwdBtn">立即找回密码</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script src="./../main/js/forgetpwd.js"></script>
<script>
    layui.use(['layer', 'form', 'comm'], function () {
        var form = layui.form,
            layer = layui.layer,
            comm = layui.comm,
            $ = layui.$;

        //验证
        form.verify({
            email: [/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/, '邮箱格式不正确！'],
            vercode: function (value) {
                if (value.trim().length <= 0) {
                    return "验证码不能为空！";
                }
            }
        });

        //发送验证码
        $("#sendCode").click(function () {
            var mail = $('[name="email"]').val().trim(),
                that = $(this);
            if (!comm.isEmail(mail)) {
                return layer.msg("邮箱不合法！", {
                    icon: 2
                });
            }
            that.addClass("layui-btn-disabled").attr("disabled", true).text("正在发送中");
            $.ajax({
                type: "POST",
                url: "/api/base/comm/recode",
                data: {
                    email: mail
                },
                dataType: "json",
                success: function (res) {
                    if (res.code) {
                        return layer.msg(res.msg, {
                            icon: 2,
                            time: 1000
                        }, function () {
                            that.removeClass("layui-btn-disabled").attr("disabled",
                                false).text("发送验证码");
                        });
                    } else {
                        var count = 60,
                            timer = null;
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 1000
                        }, function () {
                            timer = setInterval(function () {
                                --count
                                if (count <= 0) {
                                    clearInterval(timer);
                                    return that.removeClass(
                                        "layui-btn-disabled").attr(
                                        "disabled", false).text("发送验证码");
                                }
                                that.text(count);
                            }, 1000)
                        })
                    }
                }
            });
        })

        //监听提交
        form.on('submit(forgetpwdBtn)', function (data) {
            var d = data.field,
                timer = null,
                indexLoad;

            //密码重置请求
            $.ajax({
                type: "POST",
                url: "/api/main/users/forgetpwd",
                data: d,
                dataType: "json",
                beforeSend: function () {
                    indexLoad = layer.load();
                },
                success: function (res) {
                    if (res.code) {
                        timer = setTimeout(function () {
                            return layer.msg(res.msg, {
                                icon: 2,
                                time: 1000
                            }, function () {
                                clearTimeout(timer);
                                layer.close(indexLoad);
                            })
                        }, 800)
                    } else {
                        timer = setTimeout(function () {
                            return layer.msg(res.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                clearTimeout(timer);
                                layer.close(indexLoad);
                                window.location.href = "/users/login"
                            })
                        }, 800)
                    }
                }
            });

            layui.sessionData("forgrtpwdInfo", {
                key: "email",
                value: d.email
            })
            return false;
        });

        //初始赋值
        form.val('forgetpwdText', {
            email: layui.sessionData("forgrtpwdInfo").email
        })

    });
</script>
{{/block}}