{{extend "./../layout/layout_b.html"}}

{{block "style"}}
<link rel="stylesheet" href="./../main/css/users.css">
<link rel="stylesheet" href="./../main/css/register.css">
{{/block}}

{{block "content"}}
<div class="users register">
    <div class="layui-container">
        <div class="users-con">
            <div class="users-title">
                <h1>注册</h1>
            </div>
            <div class="user-form">
                <form class="layui-form" action="" lay-filter="registerText">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="username" lay-verify="username" autocomplete="off"
                                placeholder="请输入用户名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="password" name="password" lay-verify="password" placeholder="请输入密码"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="password" name="password2" lay-verify="password2" placeholder="请输确认密码"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="users-email">
                            <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="请输入用邮箱"
                                class="layui-input fl">
                            <button type="button" class="send-email layui-btn fr" id="sendCode">发送验证码</button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="vercode" lay-verify="vercode" autocomplete="off"
                                placeholder="请输入用验证码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="existing-account">
                            <span>已有账号？</span>
                            <a href="/users/login">登录</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline users-submit">
                            <button type="button" class="layui-btn layui-btn-warm layui-btn-fluid" lay-submit=""
                                lay-filter="registerBtn">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script src="./../../main/js/register.js"></script>
<script>
    layui.use(['layer', 'form', "comm"], function () {
        var form = layui.form,
            layer = layui.layer,
            comm = layui.comm,
            $ = layui.$,
            localData = layui.sessionData('registerInfo').data;

        //验证
        form.verify({
            username: function (value) {
                if (value.trim().length < 3) {
                    return '用户名不能少于3个字符！';
                }
            },
            password: [
                /^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格！'
            ],
            password2: function (value) {
                if (value != $('[name="password"]').val()) {
                    return '两次密码不一致，请重新输入！'
                }
            },
            email: [/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/, '邮箱格式不正确！'],
            vercode: function (value) {
                if (value.trim().length <= 0) {
                    return '验证码不能为空！'
                }
            }
        });

        //发送验证码
        $("#sendCode").click(function () {
            var mail = $('[name="email"]').val().trim(),
                that = $(this);
            if (!comm.isEmail(mail)) {
                return layer.msg("邮箱不合法！", {
                    icon: 2
                });
            }
            that.addClass("layui-btn-disabled").attr("disabled", true).text("正在发送中");
            $.ajax({
                type: "POST",
                url: "/api/base/comm/vercode",
                data: {
                    email: mail
                },
                dataType: "json",
                success: function (res) {
                    if (res.code) {
                        return layer.msg(res.msg, {
                            icon: 2,
                            time: 800
                        }, function () {
                            that.removeClass("layui-btn-disabled").attr("disabled",
                                false).text("发送验证码");
                        });
                    } else {
                        var count = 60,
                            timer = null;
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 600
                        }, function () {
                            timer = setInterval(function () {
                                --count
                                if (count <= 0) {
                                    clearInterval(timer);
                                    return that.removeClass(
                                        "layui-btn-disabled").attr(
                                        "disabled", false).text("发送验证码");
                                }
                                that.text(count);
                            }, 1000)
                        })
                    }
                }
            });

        })

        //监听提交
        form.on('submit(registerBtn)', function (data) {
            var d = data.field;

            //注册请求
            $.ajax({
                type: "POST",
                url: "/api/main/users/register",
                data: d,
                dataType: "json",
                beforeSend: function () {
                    indexLoad = layer.load(0, {
                        shade: [0.4, '#fff']
                    });
                },
                success: function (res) {
                    if (res.code) {
                        timer = setTimeout(function () {
                            return layer.msg(res.msg, {
                                icon: 2,
                                time: 500
                            }, function () {
                                window.clearTimeout(timer);
                                layer.close(indexLoad);
                            })
                        }, 800)
                    } else {
                        timer = setTimeout(function () {
                            layer.msg(res.msg, {
                                icon: 1,
                                time: 500
                            }, function () {
                                window.clearTimeout(timer);
                                layui.sessionData('registerInfo', null);
                                layer.close(indexLoad);
                                window.location.href = "/users/login";
                            })
                        }, 800)
                    }
                }
            });

            //注册信息本地化
            layui.sessionData('registerInfo', {
                key: 'data',
                value: d
            })
            return false;
        });

        //表单初始赋值
        form.val('registerText', {
            "username": localData.username,
            "password": localData.password,
            "password2": localData.password2,
            "email": localData.email,
            "vercode": localData.vercode
        })
    });
</script>
{{/block}}