@charset "UTF-8";
.wrapper {
  box-sizing: border-box;
  overflow: hidden;
}
.wrapper .main-content {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.wrapper .wrap-left,
.wrapper .wrap-right {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
}
.wrapper .wrap-left {
  box-sizing: border-box;
  left: 0;
  width: 11%;
  background-color: #393D49;
}
.wrapper .wrap-left .aside {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.wrapper .wrap-left .aside .aside-top {
  background-color: #23262E;
}
.wrapper .wrap-left .aside .aside-top h1 {
  color: #fff;
  width: 100%;
  height: 50px;
  font: 600 16px/50px "Microsoft YaHei";
  text-align: center;
}
.wrapper .wrap-right {
  box-sizing: border-box;
  left: 11%;
  right: 0;
  background-color: #eee;
}
.wrapper .wrap-right .wrap-body {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper .wrap-right .wrap-body .header,
.wrapper .wrap-right .wrap-body .main,
.wrapper .wrap-right .wrap-body .footer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}
.wrapper .wrap-right .wrap-body .header {
  height: 50px;
  top: 0;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
  background-color: #fff;
}
.wrapper .wrap-right .wrap-body .main {
  width: 100%;
  top: 50px;
  bottom: 44px;
}
.wrapper .wrap-right .wrap-body .main .main-content {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
}
.wrapper .wrap-right .wrap-body .footer {
  bottom: 0;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  border-top: 1px solid #f6f6f6;
  box-sizing: border-box;
  background-color: #fff;
}
.wrapper .wrap-right .wrap-body .footer p {
  font: 500 14px/44px "Microsoft YaHei";
}
.wrapper .layui-layout-admin .layui-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: initial;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: #467cd5;
  font-size: 16px;
}
.wrapper .layui-nav-tree {
  width: 100%;
  padding: 0;
}
.wrapper .layui-header {
  z-index: 1000;
  height: 50px;
}
.wrapper .layui-nav {
  position: relative;
  padding: initial;
  background-color: #393D49;
  color: #fff;
  border-radius: initial;
  font-size: 0;
  box-sizing: border-box;
}
.wrapper .layui-nav .layui-nav-item {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  line-height: 50px;
}
.wrapper .layui-nav-tree .layui-nav-child dd.layui-this,
.wrapper .layui-nav-tree .layui-nav-child dd.layui-this a,
.wrapper .layui-nav-tree .layui-this,
.wrapper .layui-nav-tree .layui-this > a,
.wrapper .layui-nav-tree .layui-this > a:hover {
  background-color: #467cd5;
  color: #fff;
}
.wrapper .layui-nav .layui-this:after,
.wrapper .layui-nav-bar,
.wrapper .layui-nav-tree .layui-nav-itemed:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  background-color: #1E9FFF;
  transition: all .2s;
  -webkit-transition: all .2s;
}
.wrapper .layui-nav-tree .layui-nav-bar {
  width: 5px;
  height: 0;
  background-color: #1E9FFF;
}
.wrapper .layui-nav .layui-nav-child dd.layui-this a,
.wrapper .layui-nav-child dd.layui-this {
  background-color: #467cd5;
  color: #fff;
}
.wrapper .layui-form-onswitch {
  border-color: #467cd5;
  background-color: #467cd5;
}
.wrapper .layui-form-radio > i:hover,
.wrapper .layui-form-radioed > i {
  color: #467cd5;
}
.wrapper .layui-form-checked[lay-skin=primary] i {
  border-color: #467cd5 !important;
  background-color: #467cd5;
  color: #fff;
}
.wrapper .layui-btn-normal {
  background-color: #467cd5;
}
