@charset "UTF-8";
.page-wrap .pages .layui-laypage a,
.page-wrap .pages .layui-laypage span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 0 22px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 5px 0;
  background-color: #fff;
  color: #333;
  font-size: 12px;
}
