{{extend "./layout/layout_a.html"}}

{{block "style"}}
<link rel="stylesheet" href="./../main/css/index.css">
{{/block}}

{{block "content"}}
<div class="main-banner"></div>
<div class="main-content">
    <div class="layui-container">
        <div class="layui-row layui-col-space18">
            <div class="layui-col-xs7">
                <!-- 优秀文件 -->
                <div class="good-plans lesson-plans">
                    <div class="lesson-plans-title clearfix">
                        <h1 class="fl">
                            <strong>优秀文件</strong>
                            <i>|</i>
                            <span>Good lesson plans</span>
                        </h1>
                    </div>
                    <div class="lesson-plans-con">
                        {{if data}}
                        <ul class="layui-row  layui-col-space15" id="hotImg">
                            <!-- <li class="layui-col-xs4">
                                <a href="/main/detail/5d490432014e0b2e5832b75a">
                                    <img src="./../main/images/good/1.jpg" alt="2019高考语文三轮文件精选集">
                                    <h2 class="layui-elip">[2019高考语文三轮文件精选集]</h2>
                                </a>
                            </li>
                            <li class="layui-col-xs4">
                                <a href="/main/detail/5d490432014e0b2e5832b75a">
                                    <img src="./../main/images/good/2.jpg" alt="2019高考语文三轮文件精选集">
                                    <h2 class="layui-elip">[2019高考语文三轮文件精选集]</h2>
                                </a>
                            </li>
                            <li class="layui-col-xs4">
                                <a href="/main/detail/5d490432014e0b2e5832b75a">
                                    <img src="./../main/images/good/3.jpg" alt="2019高考语文三轮文件精选集">
                                    <h2 class="layui-elip">[2019高考语文三轮文件精选集]</h2>
                                </a>
                            </li>
                            <li class="layui-col-xs4">
                                <a href="/main/detail/5d490432014e0b2e5832b75a">
                                    <img src="./../main/images/good/4.jpg" alt="2019高考语文三轮文件精选集">
                                    <h2 class="layui-elip">[2019高考语文三轮文件精选集]</h2>
                                </a>
                            </li>
                            <li class="layui-col-xs4">
                                <a href="/main/detail/5d490432014e0b2e5832b75a">
                                    <img src="./../main/images/good/5.jpg" alt="2019高考语文三轮文件精选集">
                                    <h2 class="layui-elip">[2019高考语文三轮文件精选集]</h2>
                                </a>
                            </li>
                            <li class="layui-col-xs4">
                                <a href="/main/detail/5d490432014e0b2e5832b75a">
                                    <img src="./../main/images/good/6.jpg" alt="2019高考语文三轮文件精选集">
                                    <h2 class="layui-elip">[2019高考语文三轮文件精选集]</h2>
                                </a>
                            </li> -->
                        </ul>
                        {{else}}
                        <div class="msg-info">
                            <h1>{{msg}}</h1>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="layui-col-xs5">
                <!-- 轮播图 -->
                <div class="slider-plans lesson-plans">
                    <div class="lesson-plans-title">
                        <h1></h1>
                    </div>
                    <div class="lesson-plans-con">
                        {{if data}}
                        <div class="layui-carousel slider-plans-tab" id="sliderBar" lay-filter="sliderbar">
                            <ul carousel-item id="sliderBarUl">
                                <!-- <li><a href="/main/detail/5d490432014e0b2e5832b75a"><img
                                            src="./../main/images/slider/1.jpg" alt=""></a></li>
                                <li><a href="/main/detail/5d490432014e0b2e5832b75a"><img
                                            src="./../main/images/slider/2.jpg" alt=""></a></li>
                                <li><a href="/main/detail/5d490432014e0b2e5832b75a"><img
                                            src="./../main/images/slider/3.jpg" alt=""></a></li>
                                <li><a href="/main/detail/5d490432014e0b2e5832b75a"><img
                                            src="./../main/images/slider/4.jpg" alt=""></a></li>
                                <li><a href="/main/detail/5d490432014e0b2e5832b75a"><img
                                            src="./../main/images/slider/5.jpg" alt=""></a></li>
                                <li><a href="/main/detail/5d490432014e0b2e5832b75a"><img
                                            src="./../main/images/slider/6.jpg" alt=""></a></li> -->
                            </ul>
                        </div>
                        {{else}}
                        <div class="msg-info">
                            <h1>{{msg}}</h1>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space20">
            <div class="layui-col-xs6">
                <!-- 个人文件 -->
                <div class="Individual-plans lesson-plans">
                    <div class="lesson-plans-title clearfix">
                        <h1 class="fl">
                            <strong>个人文件</strong>
                            <i>|</i>
                            <span>Individual lesson plans</span>
                        </h1>
                        <div class="title-more fr">
                            <a href="/main/individual">更多 &gt;&gt;</a>
                        </div>
                    </div>
                    <div class="lesson-plans-con">
                        {{if data}}
                        <ul class="list-ul" id="indiviInfo">
                            <!-- <li>
                                <h3 class="list-title"><a href="/main/detail/5d490432014e0b2e5832b75a"
                                        class="layui-elip">苏教版（2016）语文七上
                                        诵读欣赏《文笔精华——四季》教学设计</a></h3>
                                <div class="list-info clearfix">
                                    <strong>上传人：张某某</strong>
                                    <span>2019-05-23</span>
                                </div>
                            </li> -->
                        </ul>
                        {{else}}
                        <div class="msg-info">
                            <h1>{{msg}}</h1>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <!-- 公共文件 -->
                <div class="the-plans lesson-plans">
                    <div class="lesson-plans-title clearfix">
                        <h1 class="fl">
                            <strong>公共文件</strong>
                            <i>|</i>
                            <span>The lesson plans</span>
                        </h1>
                        <div class="title-more fr">
                            <a href="/main/common">更多 &gt;&gt;</a>
                        </div>
                    </div>
                    <div class="lesson-plans-con">
                        {{if data}}
                        <ul class="list-ul" id="publicInfo">
                            <!-- <li>
                                <h3 class="list-title"><a href="/main/detail/5d490432014e0b2e5832b75a"
                                        class="layui-elip">苏教版（2016）语文七上
                                        诵读欣赏《文笔精华——四季》教学设计</a></h3>
                                <div class="list-info clearfix">
                                    <strong>上传人：张某某</strong>
                                    <span>2019-05-23</span>
                                </div>
                            </li> -->
                        </ul>
                        {{else}}
                        <div class="msg-info">
                            <h1>{{msg}}</h1>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script src="./../main/js/index.js"></script>
{{/block}}