{{extend "./layout/layout_a.html"}}

{{block "style"}}
<link rel="stylesheet" href="./../main/css/individual.css">
{{/block}}

{{block "content"}}
<!-- main-current -->
{{ include "./tpl/main_current.html" }}

<!-- main-content -->
<div class="main-content">
    <div class="layui-container">
        <div class="content-con">
            <div class="content-list layui-elip">
                <table class="layui-table layui-elip" lay-skin="row" id="listTable">
                    <colgroup>
                        <col>
                        <col width="200">
                        <col width="150">
                        <col width="100">
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>文档名称</th>
                            <th>上传时间</th>
                            <th>下载量</th>
                            <td>文档共享</td>
                            <th>文档操作</th>
                        </tr>
                    </thead>
                    <tbody id="indiviList">
                        <!-- <tr>
                            <td>
                                <a href="/" class=""
                                    title="（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                            </td>
                            <td>2016-11-29</td>
                            <td>3625</td>
                            <td><span>是</span></td>
                            <td id="operationList">
                                <a href="javascript:;" id="editbtn" class="layui-btn layui-btn-normal layui-btn-sm">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a href="javascript:;" id="removeBtn" class="layui-btn layui-btn-danger layui-btn-sm">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="content-pages ac">
                <div id="indiviPages" class="layui-elip"></div>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script src="./../main/js/individual.js"></script>
{{/block}}