{{extend "./layout/layout_a.html"}}

{{block "style"}}
<link rel="stylesheet" href="./../main/css/users.css">
<link rel="stylesheet" href="./../main/css/repass.css">
{{/block}}

{{block "content"}}
<!-- main-current -->
{{ include "./tpl/main_current.html" }}

<!-- main-content -->
<div class="main-content">
    <div class="users main-repass">
        <div class="layui-container">
            <div class="users-con">
                <div class="users-title">
                    <h1>修改密码</h1>
                </div>
                <div class="user-form">
                    <form class="layui-form" action="" lay-filter="repassText">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="password" name="oldpass" lay-verify="oldpass" autocomplete="off"
                                    placeholder="请输入旧密码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="password" name="newpass" lay-verify="newpass" autocomplete="off"
                                    placeholder="请输入新密码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="password" name="newpass2" lay-verify="newpass2" autocomplete="off"
                                    placeholder="请输再次输入新密码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline users-submit">
                                <button type="button" class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                                    lay-filter="repassBtn">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script src="./../main/js/repass.js"></script>
<script>
    layui.use(['layer', 'form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //验证
        form.verify({
            oldpass: function (value) {
                if (value.trim().length <= 0) {
                    return '请输入旧密码！';
                }
            },
            newpass: [
                /^[\S]{6,12}$/, '新密码必须6到12位，且不能出现空格！'
            ],
            newpass2: function (value) {
                if (value != $('[name="newpass"]').val()) {
                    return '两次新密码输入不一致！'
                }
            }
        });

        //监听提交
        form.on('submit(repassBtn)', function (data) {
            var d = data.field,
                indexLoad = null,
                timer = null;
            $.ajax({
                type: "POST",
                url: "/api/main/users/repass",
                data: d,
                dataType: "json",
                beforeSend: function () {
                    indexLoad = layer.load(0, {
                        shade: [0.4, '#fff']
                    });
                },
                success: function (res) {
                    if (res.code) {
                        timer = setTimeout(function () {
                            return layer.msg(res.msg, {
                                icon: 2,
                                time: 400
                            }, function () {
                                window.clearTimeout(timer);
                                layer.close(indexLoad);
                            })
                        }, 600)
                    } else {
                        timer = setTimeout(function () {
                            layer.msg(res.msg, {
                                icon: 1,
                                time: 400
                            }, function () {
                                window.clearTimeout(timer);
                                layer.close(indexLoad);
                                // window.location.reload();
                                $("#loginout").trigger("click");
                            })
                        }, 600)
                    }
                }
            });
            return false;
        });

    });
</script>
{{/block}}