{{extend "./layout/layout_a.html"}}

{{block "style"}}
<link rel="stylesheet" href="https://at.alicdn.com/t/font_1304191_c1ubszr5af5.css">
<link rel="stylesheet" href="./../main/css/search.css">

{{/block}}

{{block "content"}}

<!-- main-current -->
{{ include "./tpl/main_current.html" }}

<!-- main-content -->
<div class="main-content">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs3">
                <div class="main-aside">
                    <div class="aside-con aside-subject">
                        <div class="aside-category subject-category">
                            <span>年级：</span>
                            <a href="javascript:;" class="all-item fontactive" id="subjectNo" data-item="1">不限</a>
                        </div>
                        <div class="aside-menu layui-row">
                            <ul class="subject-menu" id="subjectMenu">
                                <li class="layui-col-xs4" data-item="一年级"><a href="javascript:;">一年级</a></li>
                                <li class="layui-col-xs4" data-item="二年级"><a href="javascript:;">二年级</a></li>
                                <li class="layui-col-xs4" data-item="三年级"><a href="javascript:;">三年级</a></li>
                                <li class="layui-col-xs4" data-item="四年级"><a href="javascript:;">四年级</a></li>
                                <li class="layui-col-xs4" data-item="五年级"><a href="javascript:;">五年级</a></li>
                                <li class="layui-col-xs4" data-item="六年级"><a href="javascript:;">六年级</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="aside-con aside-grade">
                        <div class="aside-category grade-category">
                            <span>学科：</span>
                            <a href="javascript:;" class="all-item fontactive" id="gradeNo" data-item="1">不限</a>
                        </div>
                        <div class="aside-menu">
                            <ul class="grade-menu" id="gradeMenu">
                                <li class="layui-col-xs4" data-item="语文"><a href="javascript:;">语文</a></li>
                                <li class="layui-col-xs4" data-item="数学"><a href="javascript:;">数学</a></li>
                                <li class="layui-col-xs4" data-item="英语"><a href="javascript:;">英语</a></li>
                                <li class="layui-col-xs4" data-item="地理"><a href="javascript:;">地理</a></li>
                                <li class="layui-col-xs4" data-item="生物"><a href="javascript:;">生物</a></li>
                                <li class="layui-col-xs4" data-item="化学"><a href="javascript:;">化学</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs9">
                <div class="content-con">
                    <div class="con-sort">
                        <span>排序：</span>
                        <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs" data-sort="1"
                            id="viewSort">
                            <i class="iconfont icon-paixu"></i>
                            <span>浏览量</span>
                        </a>
                        <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs" data-sort="1"
                            id="downSort">
                            <i class="iconfont icon-paixu"></i>
                            <span>下载量</span>
                        </a>
                        <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs" data-sort="1"
                            id="timeSort">
                            <i class="iconfont icon-paixu"></i>
                            <span>上传时间</span>
                        </a>
                        <strong class="search-count fr">共 <b id="searchCount">39720</b> 个结果</strong>
                    </div>
                    <div class="con-list">
                        <table class="layui-table" lay-skin="nob">
                            <colgroup>
                                <col>
                                <col width="200">
                            </colgroup>
                            <tbody id="searchList">
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-title">
                                            <div class="title-icon">
                                                <span class="iconfont icon-geshi_wendangppt"></span>
                                            </div>
                                            <div class="title-con">
                                                <h3 class="title-h">
                                                    <a href="/" class="layui-elip">（精校版）2018年全国卷Ⅱ英语高考试题文档版（含答案） 热点</a>
                                                </h3>
                                                <div class="title-info">
                                                    <span>上传人：张某某</span>
                                                    <span>2019-07-24</span>
                                                    <span>
                                                        <i class="iconfont icon-liulan"></i>
                                                        <b>3625</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="list-btn">
                                            <a href="javascript:;" class="dow-btn layui-btn layui-btn-warm">下载</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content-pages ac">
                        <div id="searchListPages" class="layui-elip"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script src="./../main/js/search.js"></script>
{{/block}}