{{extend "./../layout/layout.html"}}

{{block "style"}}
<link rel="stylesheet" href="./../../admin/css/index.css">
{{/block}}

{{block "content"}}
<div class="wrap-container welcome-container">
	<div class="row">
		<div class="welcome-left-container col-lg-9">
			<div class="data-show">
				<ul class="clearfix">
					<li class="col-sm-12 col-md-4 col-xs-12">
						<a href="javascript:;" class="clearfix">
							<div class="icon-bg bg-org f-l">
								<span class="iconfont">&#xe606;</span>
							</div>
							<div class="right-text-con">
								<p class="name">用户数</p>
								<p><span class="color-org">89</span>数据<span class="iconfont">&#xe628;</span></p>
							</div>
						</a>
					</li>
					<li class="col-sm-12 col-md-4 col-xs-12">
						<a href="javascript:;" class="clearfix">
							<div class="icon-bg bg-blue f-l">
								<span class="iconfont">&#xe602;</span>
							</div>
							<div class="right-text-con">
								<p class="name">文件数</p>
								<p><span class="color-blue">189</span>数据<span class="iconfont">&#xe628;</span></p>
							</div>
						</a>
					</li>
					<li class="col-sm-12 col-md-4 col-xs-12">
						<a href="javascript:;" class="clearfix">
							<div class="icon-bg bg-green f-l">
								<span class="iconfont">&#xe605;</span>
							</div>
							<div class="right-text-con">
								<p class="name">下载量</p>
								<p><span class="color-green">221</span>数据<span class="iconfont">&#xe60f;</span></p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!--图表-->
			<div class="chart-panel panel panel-default">
				<div class="panel-body" id="chart" style="height: 376px;">
				</div>
			</div>
			<!--服务器信息-->
			<div class="server-panel panel panel-default">
				<div class="panel-header">服务器信息</div>
				<div class="panel-body clearfix">
					<div class="col-md-2">
						<p class="title">服务器环境</p>
						<span class="info">Nginx-1.17.1 (CentOS Linux 7.4.1708) Node/10.16.0</span>
					</div>
					<div class="col-md-2">
						<p class="title">服务器IP地址</p>
						<span class="info">127.0.0.1 </span>
					</div>
					<div class="col-md-2">
						<p class="title">服务器域名</p>
						<span class="info">localhost </span>
					</div>
					<div class="col-md-2">
						<p class="title"> Node版本</p>
						<span class="info">10.16.0</span>
					</div>
					<div class="col-md-2">
						<p class="title">数据库信息</p>
						<span class="info">MongoDB 4.2</span>
					</div>
					<div class="col-md-2">
						<p class="title">服务器当前时间</p>
						<span class="info">2019-06-15 11:37:35</span>
					</div>
				</div>
			</div>

			<!-- 系统更新 -->
			<div class="system-panel panel panel-default">
				<div class="panel-header">系统更新信息</div>
				<div class="panel-body">
					<h5>您系统版本最后更新时间为：<span>2019-06-09</span></h5>
					<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-normal">进行在线更新</a>
					<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger">系统错误修复</a>
				</div>
			</div>

		</div>
		<div class="welcome-edge col-lg-3">
			<!--最新留言-->
			<div class="panel panel-default comment-panel">
				<div class="panel-header">热点排行</div>
				<div class="panel-body">
					<div class="commentbox">
						<ul class="commentList">
							<li class="item cl">
								<a href="javascript:;">
									<i class="avatar size-L radius">
										<img src="/images/user-icon.png">
									</i>
								</a>
								<div class="comment-main">
									<header class="comment-header">
										<div class="comment-meta"><a class="comment-author" href="#">家华</a>
											<span>上传于</span>
											<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">
												<span>2014-8-3115:20</span>
											</time>
										</div>
									</header>
									<div class="comment-body">
										<p><a href="javascript:;">我是标题，我是标题</a></p>
									</div>
								</div>
							</li>
							<li class="item cl">
								<a href="#">
									<i class="avatar size-L radius">
										<img src="/images/user-icon.png">
									</i>
								</a>
								<div class="comment-main">
									<header class="comment-header">
										<div class="comment-meta"><a class="comment-author" href="#">家华</a> 评论于
											<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
												15:20</time>
										</div>
									</header>
									<div class="comment-body">
										<p><a href="#">@某人</a> 系统真不错！！！</p>
									</div>
								</div>
							</li>
							<li class="item cl">
								<a href="#">
									<i class="avatar size-L radius">
										<img src="/images/user-icon.png">
									</i>
								</a>
								<div class="comment-main">
									<header class="comment-header">
										<div class="comment-meta"><a class="comment-author" href="#">家华</a> 评论于
											<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
												15:20</time>
										</div>
									</header>
									<div class="comment-body">
										<p><a href="#">@某人</a> 系统真不错！！！</p>
									</div>
								</div>
							</li>
							<li class="item cl">
								<a href="#">
									<i class="avatar size-L radius">
										<img src="/images/user-icon.png">
									</i>
								</a>
								<div class="comment-main">
									<header class="comment-header">
										<div class="comment-meta"><a class="comment-author" href="#">家华</a> 评论于
											<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
												15:20</time>
										</div>
									</header>
									<div class="comment-body">
										<p><a href="#">@某人</a> 系统真不错！！！</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div id="pagesbox" style="text-align: center;padding-top: 5px;"></div>
				</div>
			</div>
			<!--联系-->
			<div class="panel panel-default contact-panel">
				<div class="panel-header">联系我们</div>
				<div class="panel-body">
					<p>QQ：1151700686</p>
					<p>E-mail：zjh10403@blooo.cn</p>
					<p>电话：029-81028159</p>
				</div>
			</div>
			<!-- 版权 -->
			<div class="panel panel-default copyright-panel">
				<div class="panel-header">产品团队</div>
				<div class="panel-body">
					<p>版本号：V1.0.0</p>
					<p>产品设计及研发团队：小掌部落陕西技术部</p>
					<p>界面及用户体验：互联网</p>
					<p>官方网址：WWW.BLOOO.CN</p>
					<p>小掌部落陕西分公司 版权所有</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{/block}}

{{block "script"}}
<script src="../../admin/lib/echarts/echarts.js"></script>
<script type="text/javascript">
	layui.use(['layer', 'util'], function () {
		var layer = layui.layer,
			util = layui.util,
			$ = layui.$,
			myChart;

		//图表
		require.config({
			paths: {
				echarts: '../../admin/lib/echarts'
			}
		});
		require(
			[
				'echarts',
				'echarts/chart/bar',
				'echarts/chart/line',
				'echarts/chart/map'
			],
			function (ec) {
				//--- 折柱 ---
				myChart = ec.init(document.getElementById('chart'));
				myChart.setOption({
					title: {
						text: "数据统计",
						textStyle: {
							color: "rgb(85, 85, 85)",
							fontSize: 18,
							fontStyle: "normal",
							fontWeight: "normal"
						}
					},
					tooltip: {
						trigger: "axis"
					},
					legend: {
						data: ["用户", "文件", "下载"],
						selectedMode: false,
					},
					toolbox: {
						show: true,
						feature: {
							dataView: {
								show: false,
								readOnly: true
							},
							magicType: {
								show: false,
								type: ["line", "bar", "stack", "tiled"]
							},
							restore: {
								show: true
							},
							saveAsImage: {
								show: true
							},
							mark: {
								show: false
							}
						}
					},
					calculable: false,
					xAxis: [{
						type: "category",
						boundaryGap: false,
						data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
					}],
					yAxis: [{
						type: "value"
					}],
					grid: {
						x2: 30,
						x: 50
					},
					series: [{
							name: "用户",
							type: "line",
							smooth: true,
							itemStyle: {
								normal: {
									areaStyle: {
										type: "default"
									}
								}
							},
							data: [10, 12, 21, 54, 260, 830, 710]
						},
						{
							name: "文件",
							type: "line",
							smooth: true,
							itemStyle: {
								normal: {
									areaStyle: {
										type: "default"
									}
								}
							},
							data: [30, 182, 434, 791, 390, 30, 10]
						},
						{
							name: "下载",
							type: "line",
							smooth: true,
							itemStyle: {
								normal: {
									areaStyle: {
										type: "default"
									},
									color: "rgb(110, 211, 199)"
								}
							},
							data: [1320, 1132, 601, 234, 120, 90, 20]
						}
					]
				});
			}
		);
		$(window).resize(function () {
			myChart.resize();
		})
	});
</script>
{{/block}}