{{extend "./../layout/layout.html"}}

{{block "style"}}

{{/block}}
{{block "content"}}
<div class="layui-tab page-content-wrap">
	<ul class="layui-tab-title">
		<li class="layui-this">修改资料</li>
		<li>修改密码</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<form class="layui-form" style="width: 90%;padding-top: 20px;" lay-filter="userInfoa">
				<div class="layui-form-item">
					<label class="layui-form-label">ID：</label>
					<div class="layui-input-block">
						<input type="text" name="id" required lay-verify="required" disabled
							class="layui-input layui-disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">账户：</label>
					<div class="layui-input-block">
						<input type="text" name="username" required lay-verify="required" disabled
							class="layui-input layui-disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">代码：</label>
					<div class="layui-input-block">
						<input type="text" name="roleCode" required lay-verify="required" disabled
							class="layui-input layui-disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱：</label>
					<div class="layui-input-block">
						<input type="text" name="email" required lay-verify="required" placeholder="请输入标题"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">备注：</label>
					<div class="layui-input-block">
						<textarea name="desc" required lay-verify="required" placeholder="请输入内容"
							class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="adminInfo">立即提交</button>
					</div>
				</div>
			</form>
		</div>
		<div class="layui-tab-item">
			<form class="layui-form" style="width: 90%;padding-top: 20px;" lay-filter="userInfob">
				<div class="layui-form-item">
					<label class="layui-form-label">ID：</label>
					<div class="layui-input-block">
						<input type="text" name="id" lay-filter="id" disabled class="layui-input layui-disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">用户名：</label>
					<div class="layui-input-block">
						<input type="text" name="username" lay-filter="username" disabled
							class="layui-input layui-disabled">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">旧密码：</label>
					<div class="layui-input-block">
						<input type="password" name="oldpass" lay-filter="oldpass" placeholder="请输入密码"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">新密码：</label>
					<div class="layui-input-block">
						<input type="password" name="password" lay-filter="password" placeholder="请输入密码"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">确认密码：</label>
					<div class="layui-input-block">
						<input type="password" name="password2" lay-filter="password2" placeholder="请输入密码"
							class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="adminPassword">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{/block}}

{{block "script"}}
<script>
	layui.use(['layer', 'form', 'element', 'meth'], function () {
		var layer = layui.layer,
			form = layui.form,
			element = layui.element,
			$ = layui.$,
			users = layui.sessionData("auserInfo").data,
			meth = layui.meth,
			indexLoad = null,
			timer = null;

		//信息修改
		form.on('submit(adminInfo)', function (data) {
			var d = data.field;
			$.ajax({
				type: "POST",
				url: "/api/admin/comm/ausers/edit",
				data: d,
				dataType: "json",
				beforeSend: function () {
					indexLoad = layer.load(1, {
						shade: [0.4, '#fff']
					});
				},
				success: function (res) {
					if (res.code) {
						timer = setTimeout(function () {
							layer.msg(res.msg, {
								icon: 2,
								time: 1000
							}, function () {
								clearTimeout(timer);
								layer.close(indexLoad);
								return false;
							})
						}, 600)
					} else {
						timer = setTimeout(function () {
							layer.msg(res.msg, {
								icon: 1,
								time: 1000
							}, function () {
								clearTimeout(timer);
								layer.close(indexLoad);
								return false;
							})
						}, 600)
					}
				}
			});
			return false;
		});

		//密码修改
		form.on('submit(adminPassword)', function (data) {
			var d = data.field;
			if (d.oldpass.trim().length < 1) {
				layer.msg("原始密码不能为空！");
				return false;
			}
			if (d.password.trim().length < 1) {
				layer.msg("新密码不能为空！");
				return false;
			}
			if (d.password.trim() !== d.password2.trim()) {
				layer.msg("两次密码不一致！");
				return false;
			}

			//修改信息提交
			$.ajax({
				type: "POST",
				url: "/api/admin/comm/ausers/repass",
				data: d,
				dataType: "json",
				beforeSend: function () {
					indexLoad = layer.load(1, {
						shade: [0.4, '#fff']
					});
				},
				success: function (res) {
					if (res.code) {
						timer = setTimeout(function () {
							layer.msg(res.msg, {
								icon: 2,
								time: 1000
							}, function () {
								clearTimeout(timer);
								layer.close(indexLoad);
								return false;
							})
						}, 600)
					} else {
						timer = setTimeout(function () {
							layer.msg(res.msg, {
								icon: 1,
								time: 1000
							}, function () {
								clearTimeout(timer);
								layer.close(indexLoad);
								return false;
							})
						}, 600)
					}
				}
			});
			return false;
		});

		//用户信息
		form.val("userInfoa", {
			"id": users._id,
			"username": users.username,
			"roleCode": users.roleCode,
			"email": users.email,
			"desc": users.desc
		})
		//密码信息
		form.val("userInfob", {
			"id": users._id,
			"username": users.username
		})
		form.render();
	});
</script>
{{/block}}