{{extend "./../layout/layout.html"}}
{{block "style"}}
<link rel="stylesheet" href="./../../admin/css/plan.css">
{{/block}}

{{block "content"}}
<div class="page-content-wrap">
	<div class="layui-form" id="table-list">
		<table id="renderTable" lay-filter="tableList"></table>
	</div>
</div>
{{/block}}

{{block "script"}}

<!-- 工具栏模板 -->
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i></button>
		<button class="layui-btn layui-btn-warm layui-btn-sm" lay-event="delete"><i class="iconfont">&#xe656;</i></button>
		<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="update"><i
				class="layui-icon">&#xe642;</i></button>
	</div>
</script>

<!-- 操作按钮 -->
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>

<!-- 编辑弹框 -->
<script type="text/html" id="editHtml">
	<div class="add-content" style="padding-top:30px;">
		<form class="layui-form" lay-filter="editText">
			<div class="layui-form-item">
				<label class="layui-form-label">ID</label>
				<div class="layui-input-inline">
					<input type="text" name="_id" lay-verify="_id" disabled placeholder="ID"
						class="layui-input layui-disabled">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">下载量</label>
				<div class="layui-input-inline">
					<input type="text" name="downloads" lay-verify="downloads" placeholder="下载量" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">浏览量</label>
				<div class="layui-input-inline">
					<input type="text" name="pageView" lay-verify="pageView" placeholder="浏览量" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">评分</label>
				<div class="layui-input-inline">
					<!-- <input type="text" name="scoreNumber" lay-filter="scoreNumber" placeholder="评分" class="layui-input"> -->
					<div class="doc-rate" id="docRate"></div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">顶置</label>
				<div class="layui-input-inline">
					<input type="checkbox" name="isTop" lay-filter="isTop" lay-skin="switch">
				</div>
			</div>
			<div class="layui-form-item layui-hide">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="submintText">提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
</script>

<!-- js -->
<script src="./../../lib/moment.js"></script>
<script>
	layui.use(["layer", "laypage", "tool", "form", "table", "rate", "util"], function () {
		var layer = layui.layer,
			laypage = layui.laypage,
			util = layui.util,
			table = layui.table,
			form = layui.form,
			tool = layui.tool,
			rate = layui.rate,
			$ = layui.$;

		//表格渲染
		var tableList = table.render({
			elem: '#renderTable',
			id: "mm",
			skin: "line",
			size: "lg",
			// toolbar: '#toolbarDemo',
			height: 700,
			url: '/api/admin/comm/plan/pages', //数据接口
			page: true, //开启分页
			cellMinWidth: 80,
			cols: [
				[{
						type: 'checkbox',
						fixed: 'left'
					},
					{
						field: '_id',
						title: 'ID',
						// hide: true
					}, {
						field: 'filesUserID',
						title: '用户ID',
						hide: true
					},
					{
						field: 'titleName',
						title: '文档名称'
					}, {
						field: 'authorName',
						title: '上传人'
					}, {
						field: 'subjectName',
						title: '学科',
					},
					{
						field: 'pageView',
						title: '浏览量',
						sort: true
					},
					{
						field: 'downloads',
						title: '下载量',
						sort: true
					},
					{
						field: 'scoreNumber',
						title: '评分',
						sort: true
					},
					{
						field: 'createDate',
						title: '上传时间',
						sort: true,
						templet: function (res) {
							// return moment(res.createDate).format("YYYY-MM-DD HH:mm:ss")
							return util.toDateString(res.createDate);
						}
					},
					{
						fixed: 'right',
						title: '操作',
						toolbar: '#barDemo',
					}
				]
			],
			parseData: function (res) {
				//数据格式转换
				// $.each(res.data, function (k, v) {
				// 	v.grade_time = moment(v.grade_time).format("YYYY-MM-DD HH:mm:ss")
				// 	if (v.grade_status) {
				// 		v.grade_status = "显示";
				// 	} else {
				// 		v.grade_status = "隐藏";
				// 	}
				// });
				// return res;
				// console.log(res)
			}
		});


		//监听事件
		table.on('toolbar(tableList)', function (obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			switch (obj.event) {
				case 'add':
					layer.open({
						type: 1,
						title: "添加学科",
						closeBtn: 1,
						area: '380px;',
						shade: 0.8,
						id: 'LAY_layuipro', //设定一个id，防止重复弹出
						btn: ['确定', '关闭'],
						btnAlign: 'c',
						resize: false,
						move: true,
						moveType: 1, //拖拽模式，0或者1
						content: $("#addHtml").html(),
						success: function (layero) {
							form.render();
							form.on('switch(grade_status)', function (data) {
								if (this.checked) {
									this.value = 1
								} else {
									this.value = 0
								}
							})
						},
						yes: function (index, layero) {
							var grade_name = $('[name="grade_name"]').val(),
								grade_sort = $('[name="grade_sort"]').val(),
								grade_status = $('[name="grade_status"]').val(),
								loadIndex = null;
							if (!grade_name.trim()) {
								return layer.msg("年级名称不能为空", {
									icon: 2
								});
							}
							$.ajax({
								type: "POST",
								url: "/api/admin/pages/grade",
								data: {
									grade_name: grade_name,
									grade_sort: grade_sort,
									grade_status: grade_status
								},
								dataType: "json",
								beforeSend: function () {
									loadIndex = layer.load(1);
								},
								success: function (res) {
									var timer = null;
									if (res.code) {
										timer = setTimeout(function () {
											layer.msg(res.msg, {
												icon: 2
											})
											layer.close(loadIndex);
											window.clearTimeout(timer);
											return false;
										}, 600);
									} else {
										timer = setTimeout(function () {
											layer.msg(res.msg, {
												icon: 1
											});
											layer.close(loadIndex);
											window.clearTimeout(timer);
											layer.close(index);
											tableList.reload();
										}, 600)
									}
								}
							});
						}
					});
					break;
				case 'delete':
					layer.msg('排序');
					break;
				case 'update':
					layer.msg('编辑');
					break;
			};
		});

		//监听工具条
		table.on('tool(tableList)', function (obj) {
			var d = obj.data;
			if (obj.event === 'del') {
				layer.confirm('您确定要进行删除吗？', function (index) {
					$.getJSON("/api/admin/pages/plan/delete/" + d._id, {},
						function (res) {
							if (res.code) {
								return layer.msg(res.msg, {
									icon: 2
								});
							}
							layer.msg(res.msg, {
								icon: 1,
								time: 600
							}, function () {
								obj.del();
								layer.close(index);
								// window.location.reload();
								tableList.reload();
							});
						}
					);
				});
			} else if (obj.event === 'edit') {
				layer.open({
					type: 1,
					title: "文档信息",
					closeBtn: 1,
					area: '380px;',
					shade: 0.8,
					id: 'LAY_layuipro', //设定一个id，防止重复弹出
					btn: ['确认', '关闭'],
					btnAlign: 'c',
					resize: false,
					move: true,
					moveType: 1, //拖拽模式，0或者1
					content: $("#editHtml").html(),
					success: function (layero) {
						//初始化赋值
						form.val('editText', {
							"_id": d._id,
							"pageView": d.pageView,
							"downloads": d.downloads,
							"isTop": d.sortDate ? true : false
						})
						//评分渲染
						var docRate = rate.render({
							elem: '#docRate', //绑定元素
							// value: d.scoreNumber,
							value: 3.5,
							half: true,
							choose: function (v) {
								layer.msg(v);
								d.scoreNumber = v
							}
						});
						form.render();
					},
					yes: function (index, layero) {
						form.on('submit(submintText)', function (data) {
							var ed = data.field;
							d.pageView = ed.pageView;
							d.downloads = ed.downloads;
							d.sortDate = ed.isTop ? new Date() : "";
							console.log(d)

							//编辑数据提交
							$.ajax({
								type: "POST",
								url: "/api/admin/pages/plan/edit",
								data: d,
								dataType: "json",
								beforeSend: function () {
									loadIndex = layer.load(1);
								},
								success: function (res) {
									console.log(res)
									var timer = null;
									if (res.code) {
										timer = setTimeout(function () {
											layer.msg(res.msg, {
												icon: 2
											})
											layer.close(loadIndex);
											window.clearTimeout(
												timer);
											return false;
										}, 600);

									} else {
										timer = setTimeout(function () {
											layer.msg(res.msg, {
												icon: 1
											});
											layer.close(loadIndex);
											layer.close(index);
											// window.location.reload();
											tableList.reload();
										}, 600);
									}
								}
							});
							return false
						})

						return $('[lay-filter="submintText"]').trigger("click");
					}
				});
			}
		});
	})
</script>
{{/block}}