@charset "UTF-8";
.add-page .doc-con .layui-form-item .upload-img .upload-btn {
  padding-bottom: 10px;
}
.add-page .doc-con .layui-form-item .upload-img .upload-list {
  min-height: 150px;
}
.add-page .doc-con .layui-form-item .upload-files .upload-list {
  min-height: 150px;
}
