@charset "UTF-8";
.main-content .main-aside {
  width: 260px;
  max-width: 260px;
  background-color: #fff;
  min-height: 600px;
  box-sizing: border-box;
  padding: 6px 22px;
}
.main-content .main-aside .aside-con a:hover {
  color: #467cd5;
}
.main-content .main-aside .aside-con .aside-category span,
.main-content .main-aside .aside-con .aside-category a {
  font: 500 12px/38px yahei;
  display: inline-block;
  vertical-align: middle;
}
.main-content .main-aside .aside-con .aside-category span {
  color: #b7b7b7;
}
.main-content .main-aside .aside-con .aside-category a {
  padding: 0 20px;
}
.main-content .main-aside .aside-con .aside-menu ul {
  min-height: 100px;
}
.main-content .main-aside .aside-con .aside-menu ul li a {
  display: block;
  box-sizing: border-box;
  font: 500 12px/38px yahei;
  color: inherit;
}
.main-content .content-con {
  min-width: 800px;
  box-sizing: border-box;
  margin-bottom: 48px;
  padding-bottom: 45px;
}
.main-content .content-con .con-sort {
  box-sizing: border-box;
  padding: 18px 24px;
  border-bottom: 1px solid #c9c9c9;
}
.main-content .content-con .con-sort a,
.main-content .content-con .con-sort span {
  color: #c9c9c9;
}
.main-content .content-con .con-list {
  box-sizing: border-box;
  padding-bottom: 25px;
}
.main-content .content-con .con-list table tbody tr {
  border-bottom: 1px dotted #c9c9c9;
}
.main-content .content-con .con-list table tbody tr:last-child {
  border-bottom: none;
}
.main-content .content-con .con-list table tbody tr .list-title {
  box-sizing: border-box;
  padding: 19px 0;
}
.main-content .content-con .con-list table tbody tr .list-title .title-icon,
.main-content .content-con .con-list table tbody tr .list-title .title-con {
  display: inline-block;
  vertical-align: middle;
}
.main-content .content-con .con-list table tbody tr .list-title .title-icon {
  box-sizing: border-box;
  padding-right: 12px;
}
.main-content .content-con .con-list table tbody tr .list-title .title-icon .iconfont {
  font-size: 50px;
}
.main-content .content-con .con-list table tbody tr .list-title .title-con h3 a {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
}
.main-content .content-con .con-list table tbody tr .list-title .title-con h3 a:hover {
  color: #467cd5;
}
.main-content .content-con .con-list table tbody tr .list-title .title-con .title-info span {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 36px;
  color: #c9c9c9;
  margin-right: 50px;
}
.main-content .content-con .con-list table tbody tr .list-title .title-con .title-info span i {
  font-size: 14px;
}
.main-content .content-con .con-list table tbody tr .list-btn a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 34px;
}
