@charset "UTF-8";
.forgetpwd .users-con .user-form .layui-form .layui-form-item .users-email {
  width: 100%;
}
.forgetpwd .users-con .user-form .layui-form .layui-form-item .users-email input,
.forgetpwd .users-con .user-form .layui-form .layui-form-item .users-email button {
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}
.forgetpwd .users-con .user-form .layui-form .layui-form-item .users-email input {
  width: 68%;
}
.forgetpwd .users-con .user-form .layui-form .layui-form-item .users-email button {
  width: 30%;
}
