@charset "UTF-8";
.main .main-banner {
  width: 100%;
  height: 272px;
  background: url("../images/banner.jpg") no-repeat center top;
}
.main .main-content {
  padding: 34px 0 40px;
  box-sizing: border-box;
  background-color: #fff;
}
.main .main-content .lesson-plans {
  padding-bottom: 34px;
}
.main .main-content .lesson-plans .lesson-plans-title {
  height: 20px;
  padding-bottom: 18px;
}
.main .main-content .lesson-plans .lesson-plans-title h1 strong,
.main .main-content .lesson-plans .lesson-plans-title h1 i,
.main .main-content .lesson-plans .lesson-plans-title h1 span {
  display: inline-block;
  vertical-align: middle;
}
.main .main-content .lesson-plans .lesson-plans-title h1 strong {
  font: 600 20px/18px yahei;
  color: #3f53c3;
}
.main .main-content .lesson-plans .lesson-plans-title h1 i,
.main .main-content .lesson-plans .lesson-plans-title h1 span {
  font: 500 16px/18px yahei;
  color: #cbcbcb;
}
.main .main-content .lesson-plans .lesson-plans-title h1 i {
  padding: 0 14px;
}
.main .main-content .lesson-plans .lesson-plans-title .title-more a {
  font: 500 14px/18px yahei;
  color: #6e6e6e;
}
.main .main-content .lesson-plans .lesson-plans-title .title-more a:hover {
  color: #467cd5;
}
.main .main-content .lesson-plans .lesson-plans-con {
  min-height: 60px;
}
.main .main-content .lesson-plans .lesson-plans-con .msg-info h1 {
  font: 500 14px/60px yahei;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li {
  margin-bottom: 8px;
  border-bottom: 1px dotted #cbcbcb;
  padding-bottom: 8px;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li:last-child {
  border-bottom: none;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li h3 a {
  height: 32px;
  display: block;
  font: 500 14px/32px yahei;
  color: #6e6e6e;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li h3 a:hover {
  color: #467cd5;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li .list-info {
  height: 30px;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li .list-info strong,
.main .main-content .lesson-plans .lesson-plans-con .list-ul li .list-info span {
  font: 500 14px/30px yahei;
  color: #b7b7b7;
  display: inline-block;
  vertical-align: middle;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li .list-info strong {
  float: left;
}
.main .main-content .lesson-plans .lesson-plans-con .list-ul li .list-info span {
  float: right;
}
.main .main-content .good-plans .lesson-plans-con ul li a {
  display: block;
  width: 100%;
}
.main .main-content .good-plans .lesson-plans-con ul li a:hover {
  color: #467cd5;
}
.main .main-content .good-plans .lesson-plans-con ul li a img {
  width: 100%;
  height: 138px;
}
.main .main-content .good-plans .lesson-plans-con ul li a h2 {
  font: 500 14px/56px yahei;
  text-align: center;
}
.main .main-content .slider-plans .lesson-plans-con ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.main .main-content .slider-plans .lesson-plans-con ul li a img {
  width: 100%;
  height: 100%;
}
