@charset "UTF-8";
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper .header {
  background-color: #fff;
}
.wrapper .header .top-bar {
  background-color: #eee;
}
.wrapper .header .top-bar .layui-header {
  height: 40px;
}
.wrapper .header .top-bar .layui-header .layui-nav {
  padding: initial;
  background-color: initial;
  color: #6e6e6e;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-img {
  width: 22px;
  height: 22px;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-item {
  line-height: 40px;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-item a {
  color: #6e6e6e;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-more {
  border-top-color: rgba(132, 119, 119, 0.7);
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-mored,
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-itemed > a .layui-nav-more {
  margin-top: -9px;
  border-style: dashed dashed solid;
  border-color: transparent transparent #6e6e6e;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-child {
  top: 40px;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav .layui-this:after,
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-bar,
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-tree .layui-nav-itemed:after {
  background-color: #467cd5;
}
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-child dd.layui-this a,
.wrapper .header .top-bar .layui-header .layui-nav .layui-nav-child dd.layui-this {
  background-color: #467cd5;
  color: #fff;
}
.wrapper .header .logo-search {
  min-width: 960px;
  height: 90px;
  padding-top: 20px;
  box-sizing: border-box;
}
.wrapper .header .logo-search .logo {
  width: 260px;
}
.wrapper .header .logo-search .logo a {
  display: block;
  height: 52px;
  width: 222px;
  height: 51px;
}
.wrapper .header .logo-search .logo a img {
  width: 100%;
  height: 100%;
}
.wrapper .header .logo-search .search {
  min-width: 360px;
  max-width: 380px;
  height: 38px;
}
.wrapper .header .logo-search .search .layui-form-item {
  position: relative;
  width: 360px;
}
.wrapper .header .logo-search .search .layui-form-item .layui-inline {
  margin-bottom: initial;
  margin-right: initial;
}
.wrapper .header .logo-search .search .layui-form-item .layui-input-inline {
  margin-right: initial;
}
.wrapper .header .logo-search .search .layui-form-item .layui-input:hover,
.wrapper .header .logo-search .search .layui-form-item .layui-textarea:hover {
  border-color: #e6e6e6 !important;
}
.wrapper .header .logo-search .search .layui-form-item .search-text,
.wrapper .header .logo-search .search .layui-form-item .search-select,
.wrapper .header .logo-search .search .layui-form-item .search-btn {
  position: absolute;
  top: 0;
  display: inline-block;
  vertical-align: middle;
}
.wrapper .header .logo-search .search .layui-form-item .search-text {
  left: 0;
}
.wrapper .header .logo-search .search .layui-form-item .search-text .layui-input-inline {
  width: 318px;
}
.wrapper .header .logo-search .search .layui-form-item .search-select {
  right: 46px;
  z-index: 5;
}
.wrapper .header .logo-search .search .layui-form-item .search-select .layui-input-inline {
  width: 90px;
}
.wrapper .header .logo-search .search .layui-form-item .search-select .layui-input-inline .layui-select-title .layui-unselect {
  border: none;
  height: 36px;
  margin-top: 1px;
}
.wrapper .header .logo-search .search .layui-form-item .search-btn {
  right: 0;
}
.wrapper .header .logo-search .search .layui-form-item .search-btn .layui-input-inline {
  width: 42px;
}
.wrapper .header .logo-search .search .layui-form-item .search-btn .layui-input-inline .layui-select-title,
.wrapper .header .logo-search .search .layui-form-item .search-btn .layui-input-inline .layui-unselect {
  outline: none;
  border: none;
}
.wrapper .main {
  padding-bottom: 130px;
  box-sizing: border-box;
}
.wrapper .main .main-current .current-info {
  height: 48px;
}
.wrapper .main .main-current .current-info strong,
.wrapper .main .main-current .current-info a,
.wrapper .main .main-current .current-info span {
  font: 500 12px/48px "Microsoft YaHei";
  color: #333;
}
.wrapper .main .main-current .current-info a:hover {
  color: #467cd5;
}
.wrapper .main .main-content .content-con {
  background-color: #fff;
}
.wrapper .main .main-content .content-con .content-pages .layui-laypage a,
.wrapper .main .main-content .content-con .content-pages .layui-laypage span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 5px 0;
  background-color: #fff;
  color: #333;
  font-size: 12px;
}
.wrapper .footer {
  width: 100%;
  min-width: 960px;
  position: absolute;
  bottom: 0;
  background-color: #eee;
}
.wrapper .footer .foot {
  height: 130px;
  box-sizing: border-box;
  padding-top: 26px;
  text-align: center;
}
.wrapper .footer .foot p {
  font: 500 12px/28px "Microsoft YaHei";
  color: #454545;
}
