@charset "UTF-8";
.wrapper {
  background: url(../images/users/login.jpg) no-repeat center top;
}
.wrapper .login .layui-container {
  text-align: right;
}
.wrapper .login .layui-container .users-con {
  display: inline-block;
  vertical-align: middle;
}
