<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="keywords" content="{{ keyw }}" />
    <meta name="description" content="{{ desc }}" />
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>{{ title }}</title>+

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./../../admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="./../../lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="./../../admin/css/layout.css">
    <link rel="stylesheet" type="text/css" href="./../../admin/css/reset.css">
    {{block "style"}}{{/block}}

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="layui-layout-body">
    <div class="wrapper">
        {{block "wrapper"}}{{/block}}
    </div>

    <!-- js -->
    <script src="./../../lib/layui/layui.js"></script>
    <script src="./../../comm/admin_config.js"></script>
    {{block "script"}}{{/block}}
</body>

</html>