<div class="main-layout-side">
    <a href="/admin/pages">
        <div class="m-logo"></div>
    </a>
    <ul class="layui-nav layui-nav-tree aside-ul" lay-shrink="all" lay-filter="leftNav">
        <li class="layui-nav-item">
            <a href="/admin/pages">
                <i class="layui-icon">&#xe7ae;</i>
                <span>系统主页</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/pages/plan">
                <i class="layui-icon">&#xe705;</i>
                <span>文件管理</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/pages/subject">
                <i class="layui-icon">&#xe656;</i>
                <span>学科设置</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/pages/grade">
                <i class="layui-icon">&#xe663;</i>
                <span>年级设置</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/pages/users">
                <i class="layui-icon">&#xe770;</i>
                <span>用户管理</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/account/info">
                <i class="layui-icon">&#xe66f;</i>
                <span>个人信息</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/pages/system" data-id="4">
                <i class="layui-icon">&#xe614;</i>
                <span>系统设置</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <i class="layui-icon">&#xe679;</i>
                <span>备份管理</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <i class="layui-icon">&#xe64c;</i>
                <span>友情链接</span>
            </a>
        </li>
    </ul>
</div>