<div class="main-layout-body">
    <!--tab 切换-->
    <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
        <!-- <ul class="layui-tab-title">
            <li class="layui-this welcome">后台主页</li>
            <li class="layui-this">{{ title }}</li>
        </ul> -->
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" style="background: #f5f5f5;">
                {{block "content"}}{{/block}}
            </div>
        </div>
    </div>
</div>